STUDIP_REST_URL=http://localhost/plugins.php/luckyconsultation/api
# A custom docker command for the cronjobs, f.e.:
# "docker exec studip8 bash -c \"php ./5.5/cli/studip cronjobs:execute \\$(php ./5.5/cli/studip cronjobs:list | grep ''CRONJOB'' | awk ''{print \\$1}'')\""
DOCKER_COMMAND=

# Stud.IP dozent in test course and
DOZENT_NAME=test_dozent
DOZENT_PASSWORD=testing

# Student in the test course
COURSE_STUDENT=test_autor
COURSE_STUDENT_PASSWORD=testing

# ID of test course
COURSE_ID=a07535cf2f8a72df33c12ddfa4b53dde
